.results {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include viewport(small) {
        justify-content: space-between;
    }    
    .res {
        &--btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1em;
        }
        &--name {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}