$gray: #e6e7eb !default;
$light_gray: #f8f8f8 !default;
$white: #ffffff !default;
$blue: #42485f !default;
$dark_blue: #004784 !default;
$border_color: #b1b3b4 !default;
$dark_gray: #494949 !default;
$darkest-gray: #2C2C2C;
// $orange: #CF6421 !default;
$red: #904b4b;
$green: #5cc4c0;


$white_gray: #f9f9f9;
///////////////////////////BLUE shades
$blue: #049fbb;
$dark-blue: #1499a5;
$btn-blue: #5d9cec;
$btn-blue-hov: #297cb3;
///////////////////////////Green shades
$green: #69E69B;
$dark_green_icon: #0eb18a;  
$dark-green: #1b5f59;
$btn-mint: #48cfad;
$btn-mint-hov: #0eb18a;
$header-green: #48cfad;
$table-th: #48cfad;

$orange: #efbf50;
